<!--HERO SECTION --> 
<div class="hero-section">
    <h2>Curated vintage comics, <br> delivered to your door</h2>
    <div class="hero-text">
        <a  href="/catalogue">SHOP NOW</a>
     <img id="hero-img" src="/images/sandy-ravaloniaina-2XCW6fbGVpE-unsplash.jpg" alt="">
    </div>
   

<!--FIRST SECTION -->
<div class="check-catalogue">
    <h2>Best quality, precinted vintage comics</h2>
    <a href="/catalogue"> Check our catalogue</a>
    <img class="section-img" src="/images/jonathan-cooper-zMkB6Nor64s-unsplash.jpg" alt="">
</div> 

<!--SECOND SECTION -->
<div class="second-section">
    <h2>Updated every week</h2>
    <p>Find all your favourite comics, at just one click</p>
    <video autoplay muted loop src="/images/production ID_4497820.mp4"></video>
</div>


<!--TESTIMONY -->
<div class="testimony">
    <p>"The best buying experience, got my comics super fast. Would definitely buy again! <br> Helen Wells</p>
    <img id="testimony-img" src="/images/omer-haktan-bulut-n05Z1v38vZM-unsplash.jpg" alt="">
</div>

