<section>
{{#if user}}

<h2>Activities</h2>
{{#each activityDb}}
<a href="/description/{{this._id}}"><p>Name: {{this.name}}</p></a>
<p>Description: {{this.description}}</p>
<p>---------------------------------</p>

{{/each}}

{{/if}}

</section>


<section id="welcome">
{{#unless user}}
<h1>Welcome TravelSouls</h1>
<img id="img-travelbuddy" src="https://a.cdn-hotels.com/gdcs/production95/d1559/15062290-9308-43d7-a792-b3a74b2b10ef.jpg" alt="travel buddies">


{{/unless}}
</section>







