
{{#if user}}

<h2>Activities</h2>
{{#each activityDb}}
<a href="/description/{{this._id}}"><p>Name: {{this.name}}</p></a>
<p>Description: {{this.description}}</p>
<p>---------------------------------</p>

{{/each}}

{{/if}}



{{#unless user}}
<h1>Welcome TravelSouls</h1>

{{/unless}}





