<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
  rel="stylesheet"
  </head>

  <body>
<header>
  <!--Menu Icon -->
  <svg width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 27.5344H26V22.9453H0V27.5344ZM0 16.0617H26V11.4726H0V16.0617ZM0 0V4.58906H26V0H0Z" fill="#172D68"/>
</svg>
  <div class="logo">
    <img id="logo-img" src="/images/retro-30s-cartoon-mascot-characters-funny-faces-50s-60s-old-animation-eyes-mouths-elements-vintage-comic-smile-logo-vector-set-smiley-caricatures-with-happy-cheerful-emotions_102902-4971-2-removebg-pr.png" alt="">
  <a href="/"><h1>QMICS</h1></a>
  </div>
  <!--Icons-->
  <!-- Testing log out -->
         <form id="logout-form" action="/auth/logout" method="POST">
              <button>Logout</button>
          </form>
  <div class="icons">
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.0086 13.2075H14.06L13.7238 12.8834C14.9005 11.5146 15.6089 9.73756 15.6089 7.80446C15.6089 3.494 12.1149 0 7.80446 0C3.494 0 0 3.494 0 7.80446C0 12.1149 3.494 15.6089 7.80446 15.6089C9.73756 15.6089 11.5146 14.9005 12.8834 13.7238L13.2075 14.06V15.0086L19.211 21L21 19.211L15.0086 13.2075ZM7.80446 13.2075C4.81475 13.2075 2.40137 10.7942 2.40137 7.80446C2.40137 4.81475 4.81475 2.40137 7.80446 2.40137C10.7942 2.40137 13.2075 4.81475 13.2075 7.80446C13.2075 10.7942 10.7942 13.2075 7.80446 13.2075Z" fill="#172D68"/>
  </svg>
  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_34_10)">
      <path d="M21 7.00001H18.6666C18.6666 4.42168 16.5783 2.33334 14 2.33334C11.4216 2.33334 9.33329 4.42168 9.33329 7.00001H6.99996C5.71663 7.00001 4.66663 8.05001 4.66663 9.33334V23.3333C4.66663 24.6167 5.71663 25.6667 6.99996 25.6667H21C22.2833 25.6667 23.3333 24.6167 23.3333 23.3333V9.33334C23.3333 8.05001 22.2833 7.00001 21 7.00001ZM11.6666 11.6667C11.6666 12.3083 11.1416 12.8333 10.5 12.8333C9.85829 12.8333 9.33329 12.3083 9.33329 11.6667V9.33334H11.6666V11.6667ZM14 4.66668C15.2833 4.66668 16.3333 5.71668 16.3333 7.00001H11.6666C11.6666 5.71668 12.7166 4.66668 14 4.66668ZM18.6666 11.6667C18.6666 12.3083 18.1416 12.8333 17.5 12.8333C16.8583 12.8333 16.3333 12.3083 16.3333 11.6667V9.33334H18.6666V11.6667Z" fill="#172D68"/>
    </g>
    <defs>
      <clipPath id="clip0_34_10">
        <rect width="28" height="28" fill="white"/>
      </clipPath>
    </defs>
  </svg>
  <a href="/auth/login"><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 0C4.928 0 0 4.928 0 11C0 17.072 4.928 22 11 22C17.072 22 22 17.072 22 11C22 4.928 17.072 0 11 0ZM11 3.3C12.826 3.3 14.3 4.774 14.3 6.6C14.3 8.426 12.826 9.9 11 9.9C9.174 9.9 7.7 8.426 7.7 6.6C7.7 4.774 9.174 3.3 11 3.3ZM11 18.92C8.25 18.92 5.819 17.512 4.4 15.378C4.433 13.189 8.8 11.99 11 11.99C13.189 11.99 17.567 13.189 17.6 15.378C16.181 17.512 13.75 18.92 11 18.92Z" fill="#172D68"/>
  </svg></a>
  </div>
</header>




    {{{body}}}
<!--FOOTER -->
<footer>
    <h2>Follow us ons social media</h2>
    <h4>Created by Yaron and Milki Kiwi 🚀 </h4>
</footer>
    <script src="/js/script.js"></script>
  </body>

</html>