<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      
    </header>

        <nav id="nav-container">

          <a href="/"><img class="logo" src="/images/travelsouls-logo.png" alt="logo img"></a>
          
        {{#if user}}

        <ul class="nav-links">

          <li class="nav-item"><a href="/user-profile/{{userId._id}}">Profile</a></li>
          <li class="nav-item">
            <form id="logout-form" action="/auth/logout" method="POST">
              <button>Logout</button>
            </form>
          </li>

        </ul>

        {{/if}}



        {{#unless user}}

        <ul class="nav-links">
          <li class="nav-item"><a href="/auth/signup">Signup</a></li>
          <li class="nav-item"><a href="/auth/login">Login</a></li>
        </ul>

        {{/unless}}

      </nav>
    </header>
    
    <div>

      {{{body}}}
      
    </div>

      <script src="/js/script.js"></script>

  </body>

</html>