<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul class="nav-bar">
        <li id="to-left">
          <img class="van-logo" src="images/van-logo.png" alt="">
          {{!-- <p>AIRBNVAN</p> --}}
        </li>
        <li id="to-center">
          <button>
            <a href="/">
            <img src="images/home.png">
            </a>
          </button>
        </li>
        <li id="to-right">
          <a href="/signup">Signup</a> <span> | </span>
          <a href="/login">Login</a>
          <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
          </form>
        </li>
      </ul>
    </nav>


    <section >

    {{{body}}}


    </section>

    <footer>
      {{!-- <div></div> --}}
        <a href="/map" id="mapLogo">
          <img src="images/map-logo.png">
        </a>  
        <a href="/addSpot" id="addLogo">
          <img src="images/add-logo.png">
        </a>
        <a href="/profile" id="profileLogo">
          <img src="images/profile-logo.png">
        </a>
    </footer>

    <script src="/js/script.js"></script>
  </body>


</html>