<h1>Product Details</h1>
<div class="product-details">
    <div class="product-details-card">
    <img src="" alt="">
    <h2>Title</h2>
    <h3>Year</h3>
    <h3>Condition</h3>
    <p>Price</p>
    <button>Add to cart</button>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae ipsum ut turpis tristique vehicula. Phasellus vitae ornare lorem. Quisque venenatis et nulla nec euismod. Donec vel nibh ut sapien ornare convallis. </p>
        <div class="reviews">
            <h3>username</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae ipsum ut turpis tristique vehicula. Phasellus vitae ornare lorem. Quisque venenatis et nulla nec euismod. Donec vel nibh ut sapien ornare convallis. </p>
        </div>
    </div>
</div>