<h2>Leave a review about {{title}} by {{author}} here</h2>
<form action="/{{_id}}/review/post" method="post">
  <label> Title:
    <input type="text" name="title" value="Title"/>
  </label>

  <label> Rate:
    <input type="radio" name="star" value="⭐️">
        <label for="html">Bad ⭐️</label>
    <input type="radio" name="star" value="⭐️⭐️">
        <label for="html">Meeh..⭐️⭐️</label>
    <input type="radio" name="star" value="⭐️⭐️⭐️">
        <label for="html">Ok⭐️⭐️⭐️</label>
    <input type="radio" name="star" value="⭐️⭐️⭐️⭐️">
        <label for="html">Good⭐️⭐️⭐️⭐️</label>
    <input type="radio" name="star" value="⭐️⭐️⭐️⭐️⭐️">
        <label for="html">Awesome!⭐️⭐️⭐️⭐️⭐️</label>
  

  <label> Description:
    <textarea name="description" cols="30" rows="4"> {{description}}</textarea>
  </label>

  <button type="submit"> Post your review </button>
</form>