/* 
COLORS:

dark blue: #26528C
turquoise: #3C92A6
yellow: #F2D399
light brown: #D9AB73
dark brown: #A67665
 */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {


}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 1rem;
}

li, a {
  text-decoration: none;
}

.logo {
  height: 3rem;
}

#img-travelbuddy {
  /* padding: 1rem; */
  max-width: 100%;
  height: auto;
}


/* INDEX */

/* #welcome {
  background-image: url("https://a.cdn-hotels.com/gdcs/production95/d1559/15062290-9308-43d7-a792-b3a74b2b10ef.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50vh;
} */



/* LOG IN */

#login-form-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-item {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: white;
}



/* LOG IN % SIGN UP */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #26528C;
}

.main-item {
  padding: 0.25rem;
}

main > p {
  font-size: 1em;
}


/* HOMEPAGE/ACTIVITIES */

#h2-home-activities {
  padding: 0.5rem;
  text-align: center;
}

#activities-container {
  margin: 1rem;
  padding: 1rem;
  background-color: beige;
  border-radius: 25px;
}



/* USER PROFILE */


