

body {
  /* padding: 50px; */
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
}

section{
  position: absolute;
  top: 70px;
  bottom: 100px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
span{
  margin:10px;
  padding: 5px;
}
a {
  color: #00b7ff;
  
  margin: 12px;
  font-size: 20px;
}

h1 {
  color: 15px;
}

#to-left{
  display: flex;
}

#to-center{
  display: flex;
  align-items: center;
}

#to-rigth{
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 40px;
  margin-top: 15px;
}

#logout-form{
  display: flex;
  justify-content: center;
}

button{
  display: flex;
  align-items: center;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

a{
  color: inherit;
  text-decoration: none;
}

ul{
  display: flex;
  margin: 0px;
  margin-left: -42px;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
}


li{
  display: flex;
  padding: 1px;
}
nav{
  display: flex;
  justify-content: space-around;
  background-color: #5EBE90;
  color: black;
  position: absolute;
  height: 70px;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

footer{
  display: flex;
  justify-content: space-around;
  width: 390px;
  height: 100px;
  align-items: center;
  background-color: #5EBE90;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

#background{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/background.jpeg");;
}

#image_label{
  background-color: white;
}

img{
  width: 80px;
} 

.van-logo{
  width: 76px;
  object-fit: cover;
  margin-top: -46px;
  margin-left: -22px;
  position: absolute;
}


#form{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

#form h2{
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 27px; 
  padding: 5px;
  margin-top: 40px;
}

#form form{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 24px;
  margin-top: 30px;
}

#form button{
  border: solid;
  display: flex;
  /* justify-content: center; */
  margin-top: 40px;
  font-size: 26px;
  color: white;
  background-color: black;
  width: fit-content;
  align-items: center;
  padding: 10px;
  border-end-start-radius: 10px;
}


#form input{
  border-radius: 5px;
  border-width: thin;
  height: 34px;
  font-size: 18px;
}

#form label{
  margin-top: 30px !important;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#login-form{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

#login-form h2{
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 40px; 
  margin-top: 58px;
}

#login-form form{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 24px;
}

#login-form button{
  border: solid;
  display: flex;
  /* justify-content: center; */
  margin-top: 40px;
  font-size: 26px;
  color: white;
  background-color: black;
  width: fit-content;
  align-items: center;
  padding: 10px;
  border-end-start-radius: 10px;
}

#login-form label{
  margin-top: 15px;
}

#login-form input{
  border-radius: 5px;
  border-width: thin;
  height: 34px;
  font-size: 18px;
  width: 247px;
}

#form-spot{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#form-spot h2{
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 40px; 
}

#ratinginput input{
  height: 20px;
  width: 20px;
}
#form-spot form{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

#form-spot button{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 21px;
  width: fit-content;
  padding: 12px;
  align-self: center;
  border-bottom-right-radius: 17px;
}

#form-spot label{
  margin-top: 15px;
}

#form-spot input{
  border-radius: 5px;
  border-width: thin;
  height: 30px;
}

.description-spot{
  display: flex;
}

.amenities-spot{
  display: flex;
  list-style-type: none;
  width: 100%;
  flex-direction: column;
}

ul{
  display: flex;
  margin: 0px;
}


#profile {
  display: flex;
  flex-direction: column;
}

.profilePic img{
  width: 390px;
  height: 262px;
  object-fit: cover;
}

.profilePic {
  position: relative;
}

.editPic {
  position: absolute;
  object-fit: cover;
  top: 3px;
  right: 5px;
}

.editpic img{
  width: 30px !important;
}

#profile{
  margin-bottom: 15px;
  align-items: center;
}

#profile p{
  display: flex;
  font-size: 22px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #D9D9D9;
  align-items: center;
   padding: 4px;
}
isLoggedIn

.webLink{
  display: flex;
  font-size: 25px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #D9D9D9;
  height: 40px;
  align-items: center;
}

.spotPic img{
  width: 390px;
  height: 262px;
  object-fit: cover;
}

.spotPic{
  position: relative;
}

.likePic{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
}

.nameSpot{
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 25px;
}

.addressSpot {
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  font-size: 30px;
}

.descriptionSpot {
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.aboutSpot{
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 5px;
}

.webLinkSpot {
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  font-size: 30px;
}


#spot{
  display: flex;
  width: 100vw;
}

#list_spots{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#description{
  display: flex;
  margin-left: 9px;
  margin-bottom: 20px;
  margin-top: 16px;
}



.scroll-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.scroll-container {
  width: 100vw;
  
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  display: flex;
}
.scroll-page {
  display: flex;
  flex-wrap: no-wrap;
  /* align-items: center;
  justify-content: center; */
  height: 100%;
  font-size: 5em;
}

#pages{
  font-size: 14px;
  
}

h3{
  display: flex;
  text-align: center;
 
}
h2{
 color: black;
 font-size: 16px;
 text-decoration: underline;
}
h8{
  width: 200px;
  margin: 30px;
  font-size: 18;
}

#spotDetails{
  font-size: 19px;
  margin: 16px;
}

#spot-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


#map{
  width: 100vw;
  height: 100vh;
}

.marker{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

#button_2{
background-color: #5EBE90;
margin-bottom: 30px;
margin-top: 20px;
font-size: 17px;
padding: 8px;
border-bottom-right-radius: 12px;
}

#description-comment{
  display: flex;
  align-content: center;
}

#form-comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}


p3{
  margin: 20px;
  margin-left: 211px;
}
p1{
  display: flex;
  background-color: rgb(133, 201, 240);
  border-radius: 5px;
  font-size: 20px;
  padding: 11px;
  margin: 28px;

}

#button_3{
  background-color: #5EBE90;
    width: fit-content;
    align-content: center;
    margin: 20px;
    font-size: 22px;
    padding: 8px;
    border-bottom-right-radius: 20px;
    margin: -5px;
    align-items: flex-end;
    margin-right: 236px;
}

h5{
  font-size: 16px;
}

h7 {
  font-size: 18px;
  margin-right: 4px;
}

#logout_button{
  font-size: 24px;
  margin-top: 6px;
}

