<div id="form-comment">
    <form action="/publishComment/{{spotID}}" method="POST">
    <h5>Add a new comment:</h5>
    <label class="description-comment">
      <textarea name="description" cols="30" rows="10"></textarea>
    </label>

     <button id ="button_2" type="submit">Add Comment</button>
</form>
</div>
