

<main class="main-container">
  <h2 class="main-item">Welcome TravelSouls</h2>
  <p class="main-item">Sign in to check out where go next!</p>


  
  <form id="login-form-container" action="/auth/login" method="POST">
  
    <label class="login-item"> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label class="login-item"> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</main>
