<div id="form">
  <h2>Create Account</h2>
  <form action="/auth/signup" method="POST">

    <label> Full Name
      <input type="text" name="fullname" placeholder="Your full name" />
    </label>

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <label> Upload Image
      <input type="file"accept="image/png, image/jpeg" name="profileImage" placeholder="Profile Images" >
    </label>


    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>