<div id="profile">
    <div class="profilePic">
        <img src="images/messi balones.jpg" alt="">
       
    </div> 
    <a href="/users/{{_id}}/edit">
        <img class="editPic" src="images/edit.png" alt="">
    </a>
    <p>{{fullname}} FullName</p>
    <p>{{username}} Username</p>
    <p>{{email}} Email</p>
    <a class="webLink" href="/">Favourite Spots</a>
</div>