<div id="profile">
    <div class="profilePic">
        <img src="images/Alex.jpg" alt="">
       
    </div> 
    <a href="/users/{{_id}}/edit">
        <img class="editPic" src="images/edit.png" alt="">
    </a>
    <p>{{fullName}}</p>
    <p>Username: {{username}}</p>
    <p>Email: {{email}}</p>
    <a class="webLink" href="/">Favourite Spots</a>
</div>