<div id="profile">
    <div class="profilePic">
        <img src="images/Alex.jpg" alt="">
       
    </div> 
    <a href="/users/{{_id}}/edit">
        <img class="editPic" src="images/edit.png" alt="">
    </a>
    <p>{{fullName}}</p>
    <p>Username: {{username}}</p>
    <p>{{email}}</p>
    <button id ="button_3">
    <a href="/savedSpots">Saved spots</a></button>
</div>