<div id="profile">
    <div class="profilePic">
        <img src="/images/profile.png" alt="">
       
    </div> 
    <button id ="button_3">
     <a href="/savedSpots">Saved spots</a>
      </button>

    <a href="/users/{{_id}}/edit">
        <img class="editPic" src="images/edit.png" alt="">
    </a>
    <p1>{{fullName}}</p1>
    <p1>Username: {{username}}</p1>
    <p1>{{email}}</p1>
   
   
</div>