<div id="form-spot">
  <form action="/addSpot" method="POST" enctype="multipart/form-data"> 
    <label><h7>Full Name</h7>
      <input type="text" name="name" size="35" placeholder="Spot Name" />
    </label>


    <label><h7>Coordinates</h7>

      <input type="text" size="35" name="coordinates" pattern= "[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)" placeholder="FORMAT: 43.549198, -5.623890" />
    </label>

    <label><h7>Address</h7>
      <input type="text" name="address" size="35" placeholder="Address" />
    </label>

    <label><h7>Province</h7>
      <input type="text" name="province" size="35" placeholder="Province" />

    </label>

    <label><h7>Images</h7>
      <input type="file" accept="image/png, image/jpeg" multiple="multiple" name="images" placeholder="Upload Images" />
    </label>
    
    <label class="description-spot"><h7>Description</h7> 
      <textarea name="description" cols="30" rows="10"></textarea>
    </label>

    <label class="amenities-spot" name="amenities"><h7>Amenities</h7>
      <ul>
        <li>
          <input type="checkbox" name="BBQ"><h6>BBQ</h6>
        </li>
        <li>
          <input type="checkbox" name="Toilet"><h6>Toilet</h6>
        </li>
        <li>
          <input type="checkbox" name="Electricity"><h6>Electricity</h6>
        </li>
        <li>
          <input type="checkbox" name="Drinking_water"><h6>Drinking Water</h6>
        </li>
        <li>
          <input type="checkbox" name="Trash_can"><h6>Trash can</h6>
        </li>
        <li>
          <input type="checkbox" name="Shower"><h6>Shower</h6>
        </li>
      </ul>
    </label>

    <label><h7>Rating</h7>
      <input type="number" id="ratinginput" min="0" max="10" size="10" name="rating" >
    </label>

    <label><h7>Webpage</h7>
      <input type="url" name="webpage" size="35" id="webpageInput">
    </label>


    <button id="button_2" type="submit">Add Spot</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>