<div id="form-spot">
  <h2>Create Spot</h2>
  <form action="/addSpot" method="POST">

    <label> Full Name
      <input type="text" name="name" placeholder="Spot Name" />
    </label>

    <label> Coordenates

      <input type="text" width="90%" name="coordinates" placeholder="Coordenates" />
    </label>

    <label> Address -if possible
      <input type="text" name="address" placeholder="Address" />
    </label>

    <label> Province
      <input type="text" name="province" placeholder="Address" />

    </label>

    <label> Images
      <input type="file" accept="image/png, image/jpeg" name="images" placeholder="Upload Images" />
    </label>

    <label class="description-spot"> Description
      <textarea name="description" cols="30" rows="10"></textarea>
    </label>

    <label class="amenities-spot" name="amenities"> Amenities
      <ul>
        <li>
          <input type="checkbox" name="BBQ">BBQ
        </li>
        <li>
          <input type="checkbox" name="Toilet">Toilet
        </li>
        <li>
          <input type="checkbox" name="Electricity">Electricity
        </li>
        <li>
          <input type="checkbox" name="Drinking_water">Drinking Water
        </li>
        <li>
          <input type="checkbox" name="Trash_can">Trash Can
        </li>
        <li>
          <input type="checkbox" name="Shower">Shower
        </li>
      </ul>
    </label>

    <label> Rating
      <input type="number" min="0" max="10" name="rating" id="ratinginput">
    </label>

    <label> Webpage
      <input type="url" name="webpage" id="webpageInput">
    </label>


    <button id="button_2" type="submit">Add Spot</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>