    <form action="/create" method="post">
 
     <label> Activity
      <input type="text" name="activity" placeholder="Surfing" />
    </label>
    
    <label> Description
      <textarea name="description" cols="30" rows="4"> </textarea>
    </label>

    <label> Activity for
      <input type="radio" name="find" value="couple" placeholder="Looking for" /> Couple
      <input type="radio" name="find" value="group of friends" placeholder="Looking for" /> Group of friends
      <input type="radio" name="find" value="date" placeholder="Looking for" /> Date
      <input type="radio" name="find" value="family" placeholder="Looking for" /> Family
    </label>

    <label> From
      <input type="date" name="from" placeholder="Start" />
    </label>

    <label> To
      <input type="date" name="to" placeholder="End" />
    </label>

   <button type="submit"> Submit </button>
   </form>